body {
    margin: 0;
    padding: 0;
    font-family: "Kurale";
} 
#about {
    background-image: url(../Images/Site-background.png);
    background-size: contain;
    width: 1224px;
    height: 630px; 
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.about-transition {
    position: absolute;
    top: 10;
    width: 1224px;
    height: 50px;
    background-image: linear-gradient(to bottom, rgb(163, 163, 163) 4%, transparent 100%);
}
#about > h1 {
    color: orange;
    font-size: 50px;
    margin-left: 90px;
    margin-top: 38px;
    font-weight: 600;
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-left: 80px;
    margin-right: 80px;
}
.team {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.team img {
    filter: grayscale(2.0) brightness(1.0);
    width: 90%;
    border-radius: 50% 50% 0% 0%;
    transform: skewY(-5deg);
}
.team .title-overlay {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 17%;
    background-color: rgba(92, 48, 48, 0.4);
    transition: opacity 0.4s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
}
.title-overlay > h2 {
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    margin: 5px 10px;
    text-shadow: 1px 1px 2px #42210b;
    opacity: 1;
}
.title-overlay > h3 {
    color: white;
    font-weight: 600;
    font-size: 21px;
    font-style: italic;
    text-align: center;
    margin: 5px 15px -10px;
    text-shadow: 2px 2px 2px #ff6600;
    letter-spacing: 1px;
    opacity: 1;
}
.team img:hover {
    transform: scale(1.2) rotateY(180deg);
    filter: brightness(1.1) saturate(1.0) contrast(1.1);
    backface-visibility: visible;
    transition: transform 0.5s ease-in-out;
}