body {
    margin: 0;
    padding: 0;
    font-family: "Kurale";
} 
#about {
    background-image: url(../Images/Site-background.png);
    background-size: 100svw 100svh;
    background-repeat: no-repeat;
    background-attachment: inherit;
    position: relative; 
    height: 100svh; 
    width: 100svw;
}
.about-transition {
    position: relative;
    width: auto;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(163, 163, 163) 4%, transparent 100%);
}
#about > h1 {
    color: #a88057;
    font-size: 50px;
    padding-left: 100px;
    margin-top: -30px;
    font-weight: 600;
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;   
    width: 80svw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.team {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.team img {
    /* filter: grayscale(0.7) brightness(1.0); */
    border-radius: 30% 0%;
    border-style: solid;
    border-color: rgb(180, 179, 179);
    border-width: 2px;
    padding: 10px;
}
.name {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgba(2, 3, 17, 0.6);
    transition: opacity 0.4s ease;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
}
.name > h3 {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px #42210b;
    font-weight: 500;
    font-style: oblique;
    margin: auto;
    color: white;
    opacity: 1;
}
.social-icons {
    filter: grayscale(2.0) brightness(1.0);
    position: absolute;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-left: 5px;
    opacity: 1;
}
.team img:hover {
    transform: scale(1.2);
    filter: brightness(1.1) saturate(1.0) contrast(1.1);
    backface-visibility: visible;
    transition: transform 0.5s ease-in-out;
    opacity: 1;
}