body {
    margin: 0;
    padding: 0;
    font-family: "Kurale";
} 
#about {
    background-image: url(../Images/Site-background.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-attachment: inherit;
    position: relative; 
    height: auto; 
    width: 100vw;
}
.about-transition {
    position: relative;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(163, 163, 163) 4%, transparent 100%);
}
#about > h1 {
    color: #a88057;
    font-size: 2.7vw;
    padding-left: 100px;
    margin-top: -30px;
    font-weight: 600;
}
.about-separator {
    background-color:#a88057;
    border-radius: 50%;
    border: none;
    width: 160px;
    height: 7px;
    align-items: left;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: -30px;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: auto;   
    margin-top: 80px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}
.team {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.team img {
    width: 100%;
    filter: grayscale(5.0) brightness(1.0);
}
.name {
    position: absolute;
    margin-top: 285px;
    width: 100%;
    height: 16%;
    background-color: rgba(58, 15, 15, 0.6);
    transition: opacity 0.5s ease;
    opacity: 0;
}
.name > h3 {
    text-align: center;
    font-size: 1vw;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 2px #42210b;
    font-weight: 600;
    width: auto;
    margin: 0px;
    justify-content: space-between;
    color: white;
    font-style: oblique;
}
.social-icons {
    position: absolute;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}
.icons {
    margin-right: 15px;
}
.team img:hover {
    filter: brightness(1.1) saturate(1.0) contrast(1.1);
    backface-visibility: visible;
    transition: transform 0.5s ease-in-out;
    opacity: 1;
}
.team:hover .name {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.icons:hover {
    opacity: 0.6;
    font-size: large;
}