body {
    margin: 0;
    padding: 0;
    font-family: "Kurale";
} 
#gallery {
    background-image: url(../Images/Site-background.png);
    background-size: 100svw auto;
    background-repeat: no-repeat;
    background-attachment: inherit;
    position: relative; 
    background-size: cover; 
    height: auto; 
    width: 100svw;
}
.gallery-transition {
    position: relative;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(163, 163, 163) 4%, transparent 100%);
}
#gallery > h1 {
    color: #a88057;
    font-size: 2.7vw;
    padding-left: 100px;
    margin-top: -30px;
    font-weight: 600;
}
.gallery-separator {
    background-color:#a88057;
    border-radius: 50%;
    border: none;
    width: 205px;
    height: 7px;
    align-items: left;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: -30px;
}
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90svw;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.gallery-main {
    position: relative;
    margin: 40px 0;
}
.gallery-main img {
    border-right: 100px solid #3a2108;
    border-left: 100px solid #3a2108;
    border-top: 10px solid #3a2108;
    border-bottom: 10px solid #3a2108;
    width: 900px;
    height: 500px;
}
.gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 1px solid #3a2108;
}
.gallery-thumbnails img {
    width: 100px;
    height: auto;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}
.gallery-thumbnails img:hover {
    opacity: 1;
}
