body {
    margin: 0;
    padding: 0;
    font-family: "Kurale";
} 
#gallery {
    background-image: url(../Images/Site-background.png);
    background-size: 100svw auto;
    background-repeat: no-repeat;
    background-attachment: inherit;
    position: relative; 
    background-size: cover; 
    height: auto; 
    width: 100svw;
}
.gallery-transition {
    position: relative;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(163, 163, 163) 4%, transparent 100%);
}
#gallery > h1 {
    color: #a88057;
    font-size: 2.7vw;
    padding-left: 100px;
    margin-top: -30px;
    font-weight: 600;
}
.gallery-separator {
    background-color:#a88057;
    border-radius: 50%;
    border: none;
    width: 205px;
    height: 7px;
    align-items: left;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: -30px;
}
.gallery-container {
    display: grid;
    grid-template-areas: 
      "left main right"
      "bottom bottom bottom";
    gap: 30px;
    justify-items: center;
    align-items: start;
    width: 85svw;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.main-image {
    border-right: #3a2108 solid 100px;
    border-left: #3a2108 solid 100px;
    border-top: #3a2108 solid 10px;
    border-bottom: #3a2108 solid 10px;
}
.main-image img {
    display: block;
    width: 975px; 
    height: 500px;
}
.side-images {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.side-images.left {
    grid-area: left;
    margin-left: 230px;
}
.side-images.right {
    grid-area: right;
    margin-right: 230px;
}
.side-images img {
    width: 100px; 
    height: auto;
}
.bottom-images {
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 10px;
    justify-content: center;
}
.bottom-images img {
    width: 100px; 
    height: auto;
}
