body {
       margin: 0;
       padding: 0;
} 
#background { 
       position: relative; 
       margin-left: auto; 
       margin-right: auto; 
       width: 1224px;
       height: 680px; 
       overflow: hidden;
       z-index: 0;
} 
#home1 {  
       position: absolute; 
       z-index: 1;
}
#menu { 
       top: 80px; 
       position: absolute; 
       width: 83%; 
       z-index: 1;
       text-align: right;
}
#menu ul {
       list-style: none;
       margin-top: 26px;
       margin-right: 35px;
}
#menu ul li {
       display: inline-block;
       margin-left: 25px;
}
#menu ul li a {
       text-decoration: none;
       color: #25242a;
       font-size: 26px;
       font-family: "Kurale";
       font-weight: 600; 
       font-style: normal;
       font-variant: small-caps;
       transition: font-size 0.2s ease;
}
#menu ul li a:hover {
       color: white;
       font-size: 30px;
       font-weight: 700;
       text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#logo { 
	left: 15px; 
	top: 40px; 
	position: absolute; 
	z-index: 10;
} 
#wemakeart {  
	left: 50px; 
	top: 25px; 
       width: auto;
	position: absolute; 
	z-index: 11;
}
#ukflag { 
	right: 205px;
	top: 20px; 
	position: absolute; 
	width: 45px;
	height: 34px;
	z-index: 10;
} 
#deflag { 
       right: 135px;
	top: 20px; 
	position: absolute; 
	width: 45px;
	height: 34px;
	z-index: 10;
} 
#bgflag { 
	right: 65px; 
	top: 20px; 
	position: absolute; 
	width: 45px;
	height: 34px;
	z-index: 10;
} 
#searchbar {
       position: absolute;
       top: 70px;
       right: 45px;
       z-index: 100;
}
#searchbar input[type=text] {
       border-color: grey;
       border-width: 1px;
       width: 87%;
       padding: 3px;
       font-size: 17px;
       background-color: #ddd;
       border-radius: 15px;
}
#searchbar input[type=text]:hover {
       background-color: #ddd;
}
#searchbar span {
       position: absolute;
       right: 25px;
       top: 50%;
       transform: translateY(-50%);
       width: 20px;
       height: 20px;
       background-size: cover; 
       background-color: #ddd;
}