body {
       margin: 0;
       padding: 0;
} 
#background { 
       left: 0px; 
       top: 0px; 
       position: relative; 
       margin-left: auto; 
       margin-right: auto; 
       width: 1224px;
       height: 900px; 
       overflow: hidden;
       z-index: 0;
} 
#home { 
       left: -168px; 
       top: -2px; 
       position: absolute; 
       width: 1224px;
       height: 705px;
       z-index: 1;
} 
#nav1 { 
       left: -5px; 
       top: -1px; 
       position: absolute; 
       width: 1224px;
       height: 229px;
       z-index: 2;
} 
#nav2 { 
       left: 350px; 
       top: -18px; 
       position: absolute; 
       width: 1224px;
       height: 229px;
       z-index: 3;
} 
#navbar1 { 
       left: 0;
       top: 138px; 
       right: 0;
       position: absolute; 
       width: 80%; 
       height: 90px;
       z-index: 1;
       text-align: right; 
}
#navbar1 ul {
       list-style: none;
       padding: 0;
       margin: 30px;
}
#navbar1 ul li {
       display: inline-block;
       margin-left: 20px;
}
#navbar1 ul li a {
       text-decoration: none;
       color: #42210b;
       font-size: 23px;
       font-family: "Poppins", sans-serif;
       font-weight: 500; 
       font-style: normal;
}
#navbar2 { 
       left: 0px; 
       top: 138px; 
       position: absolute; 
       width: auto;
       height: 90px;
       z-index: 5;
} 
#logo { 
	left: 75px; 
	top: 19px; 
	position: absolute; 
	width: 209px;
	height: 192px;
	z-index: 11;
} 
#wemakeart { 
	left: 296px; 
	top: 588px; 
	position: absolute; 
	width: 636px;
	height: 53px;
	z-index: 1;
}
#ukflag { 
	right: 205px;
	top: 25px; 
	position: absolute; 
	width: 48px;
	height: 35px;
	z-index: 10;
} 
#deflag { 
       right: 135px;
	top: 25px; 
	position: absolute; 
	width: 48px;
	height: 35px;
	z-index: 10;
} 
#bgflag { 
	right: 65px; 
	top: 25px; 
	position: absolute; 
	width: 48px;
	height: 35px;
	z-index: 10;
} 
#searchbar {
       position: absolute;
       top: 80px;
       right: 45px;
       z-index: 100;
}
#searchbar input[type=text] {
       border-color: grey;
       border-width: 1px;
       width: 87%;
       padding: 3px;
       font-size: 17px;
       background-color: #ddd;
       border-radius: 15px;
}
#searchbar input[type=text]:hover {
       background-color: #ddd;
}
#searchbar span {
       position: absolute;
       right: 25px;
       top: 50%;
       transform: translateY(-50%);
       width: 20px;
       height: 20px;
       background-size: cover; 
       background-color: #ddd;
   }