body {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
}
#background { 
        left: 0px; 
        top: 0px; 
        position: relative; 
        margin-left: auto; 
        margin-right: auto; 
        width: 1224px;
        height: 700px; 
        overflow: hidden;
        z-index:0;
} 
#news {
        background-image: url(../Images/site-background.png);
        overflow: hidden;
}
h1 {
        color: orange;
        font-size: 45px;
        margin-left: 470px;
        font-weight: 500;
}
.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin-left: 400px;
}
.news-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 -100px;
        padding: 60px; 
}
.news-item img {
        width: 70%;
}
.news-item h2 {
        color: #42210b;
        font-variant: small-caps;
        margin: 5px;
        font-size: 26px;
        font-weight: 600;
        text-align: left;
        width: 70%;
}
.news-item p {
        color: #42210b;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
        width: 70%;  
}
.news-item a {
        color: #42210b;
        text-align: right;
        text-decoration: none;
        font-size: 18px;
        width: 70%;
        font-weight: 600;
}