body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
} 
#news {
        background-image: url(../Images/Site-background.png);
        background-size: 100svw 110svh;
        background-repeat: no-repeat;
        background-attachment: inherit;
        position: relative;  
        height: 110svh; 
        width: 100svw;
}
.news-transition { 
        position: relative;
        height: 100px;
        background-image: linear-gradient(to bottom, rgb(163, 163, 163) 4%, transparent 100%);
}
#news > h1 {
        color: #a88057;
        font-size: 2.7vw;
        padding-left: 100px;
        margin-top: 0px;
        font-weight: 600;
}
.news-separator {
        background-color: #a88057;
        border-radius: 50%;
        border: none;
        width: 140px;
        height: 7px;
        align-items: left;
        text-align: left;
        margin-left: 100px;
        margin-bottom: 30px;
        margin-top: -30px;
}
.news-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;   
        width: 85svw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
}
.news-article {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 15px;
}
.news-article img {
        width: 470px;
        margin-bottom: 10px;
        border-radius: 5% 5% 5% 5%;
}
.news-article img:hover {
        z-index: 1;
}
.news-article h2 {
        color: #42210b;
        font-variant: small-caps;
        margin: 10px;
        font-size: 1.3vw;
        font-weight: 600;
        text-align: left;
        width: 95%;
}
.news-article p {
        color: #42210b;
        font-size: 0.95vw;
        text-align: justify;
        width: 95%;
}
.news-article a {
        margin-top: 10px;
        color: #42210b;
        text-align: right;
        text-decoration: none;
        font-size: 1vw;
        width: 95%;
        font-weight: 600;
        display: inline;
}
a.button {
        position: relative;
        width: 30%;
        height: 40%;
        color: white;
        justify-content: center;
        background-color: #a88057;
        border-radius: 5%;
        display: flex;
        margin-left: auto;
        margin-right: 10px;
}
a.button:hover {
        background-color: #42210b;
}