body {
    margin: 0;
    padding: 0;
    font-family: "Kurale";
} 
#services {
    background-image: url(../Images/Site-background.png);
    background-size: 100svw 100svh;
    background-repeat: no-repeat;
    background-attachment: inherit;
    position: relative; 
    height: 80svh;
    width: 100svw; 
}
.services-transition {
    position: relative;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(163, 163, 163) 4%, transparent 100%);
}
#services > h1 {
    color: #a88057;
    font-size: 2.7vw;
    padding-left: 100px;
    margin-top: -30px;
    font-weight: 600;
}
.services-separator {
    background-color:#a88057;
    border-radius: 50%;
    border: none;
    width: 215px;
    height: 7px;
    align-items: left;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: -30px;
}
.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;   
    width: 85svw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.products {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 15%;
    padding-top: 20px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #42210b;
    background-color: rgba(136, 134, 134, 0.3);
}
.products a {
    text-decoration: none;
}
.products:hover {
    transform: scale(1.2);
}
.product-title > h3 {
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    font-size: 1.2vw;
    letter-spacing: 3px;
    color: #42210b;
    font-variant: small-caps;
}